<div class="container">
    <div class=" placeholder-lg bg-white mt-5 mb-5 text-white" height="200"><span>placeholder</span>
    </div>
    <div class="d-flex mt-5 mb-5 justify-content-center " height="500">

        <div class="aboutContent me-5">
            <p>Dido and Adam grew up in a valley between the volcano of »Roccamonfina« in Italy and the sea, there is a small oasis that was already used as a leisure area and for wine production in the time of the ancient Romans. In the midst of olive trees
                and surrounded by vineyards, the family, knowing the incredible richness of the area, has settled at the foot of the mountain »Stravancca«. The brother's heritage is their biggers inspiration. Thats why Dido and Adam bring the Italian
                lifestyle to Vienna and share their love for good food and deliciouse wine.</p>
        </div>
        <div class="aboutImg">
            <img src="https://cdn.pixabay.com/photo/2021/11/03/00/56/pizza-6764430_1280.jpg" alt="" srcset="" height="300">
        </div>
    </div>
</div>