<div class="Hero" id="myHero">
    <img src="https://cdn.pixabay.com/photo/2020/06/07/20/55/marylebone-5272120_1280.jpg" alt="" class="card-img-top">
    <!-- <div class="bookBtn  position-absulute top-50">
        <button class="btn btn-outline-darl">Book a table</button>
    </div> -->
    <div class="card-text mt-2">
        <h1 class="">Welcome,</h1>
        <h4>we love to see you!</h4>
    </div>
</div>
<div class="container mt-5">
    <div class="myStory d-flex align-items-center">
        <div>
            <img src="https://cdn.pixabay.com/photo/2016/10/13/18/49/bar-1738513_1280.jpg" alt="" srcset="" height="300">
        </div>
        <div class="homeContent ms-4">
            <div class="left">
                <p>URBAN PIZZA was founded by the brothers Dido and Adam. They started their business in August 2016 and opened their first dining location in Vienna’s 2nd district.</p><br>
                <p>Dido and Adam Formisano know exactly how to bring the Italian lifestyle to Vienna and delight regulars and walk-in customers every day.</p>
            </div>
            <div class="right">
                <p>Since April 2021, the URBAN PIZZA Onlineshop have also been part of their portfolio.</p>
            </div>

        </div>
    </div>
    <div class="myContact mt-5 mb-5">
        <h4>Let's get in Contact</h4>
        <p>Address: Taborstraße 70, 1020 wine</p>
        <p>eMail: urban@pizza.com</p>
        <p><u>tele: 0664/7127374</u></p>

    </div>
</div>